<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    {{- partial "headers/navigation.html" . -}}
    <!-- hx-boost="true" hx-push-url="true" hx-on:htmx:responseError="window.location.href = this.getAttribute('href')" -->
    
    <body>
        <div id="content">
        {{- block "main" . }}{{- end }}
        <div class="not_full_width">
            {{- block "main-bordered" . }}{{- end }}
        </div>
        </div>
        <script type="text/javascript">
            console.log("Cloudinary JS loaded");
            var cl = cloudinary.Cloudinary.new({ cloud_name: "deepwave-org" });
            cl.responsive();
        </script>
    </body>
    <!-- {{- partial "footer.html" . -}} -->
</html>
