<head>
    {{ partial "meta" . }}
    {{ partialCached "css.html" . }}
    <!-- <link rel="icon" href="http://res.cloudinary.com/deepwave-org/image/upload/v1747267327/deepwave.org/cropped-deepwave_logo_4c_Krake-2-32x32.jpg" sizes="32x32">
        <link rel="icon" href="http://res.cloudinary.com/deepwave-org/image/upload/v1747267329/deepwave.org/cropped-deepwave_logo_4c_Krake-2-192x192.jpg" sizes="192x192">
        <link rel="apple-touch-icon" href="http://res.cloudinary.com/deepwave-org/image/upload/v1747267332/deepwave.org/cropped-deepwave_logo_4c_Krake-2-180x180.jpg"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    {{ $cloudinaryJS := resources.Get "js/cloudinary-core-shrinkwrap.js" | resources.Minify }}
    <script src="{{ $cloudinaryJS.RelPermalink }}"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>