<div class="relative group mb-2">
    <input id="search-bar" type="text" placeholder="Ctrl + K"
    class="w-full p-2 pr-8 rounded-md text-transparent focus:text-gray-700 text-right focus:!text-left focus:outline-none focus:ring-1 focus:ring-gray-400" />
    <div class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="1.5">
        <circle cx="9" cy="9" r="8" />
        <line x1="24" y1="24" x2="14" y2="14" />
    </svg>
    </div>
</div>