<nav class="pt-4 md:pb-4 text-sm md:text-xl">
  <ul class="flex space-x-6 flex-wrap">
  {{ range site.Data.menu.main }}
    <li class="relative group">
      <a href="{{ .url }}" class="hover:text-deepwave-light-blue">{{ .title }}</a>
    </li>
  {{ end }}
</ul>
</nav>

<nav class="pb-4 md:pt-4 text-sm md:text-xl">
  <ul class="flex space-x-4 flex-wrap">
    {{ range site.Data.menu.secondary }}
    <li class="relative group">
      <a href="{{ .url }}" class="hover:text-deepwave-light-blue">{{ .title }}</a>
    </li>
  {{ end }}
</ul>
</nav>