<nav class="hidden md:block pt-3">
    <ul class="flex space-x-6 py-4">
  {{ range site.Data.menu.main }}
    <li class="relative group">
      <a href="{{ .url }}" class="hover:text-deepwave-light-blue">{{ .title }}</a>
    </li>
  {{ end }}
</ul>
</nav>

<nav class="hidden md:block pt-3">
    <ul class="flex space-x-4">
    {{ range site.Data.menu.secondary }}
    <li class="relative group">
      <a href="{{ .url }}" class="hover:text-deepwave-light-blue">{{ .title }}</a>
    </li>
  {{ end }}
</ul>
</nav>