{{ define "main" }}
    <div id="content-area">
{{ partial "headers/blog_parallax" . }}
<article class="not_full_width min-h-screen mt-12 max-w-4xl">
    {{ .Content }}
</article>
<div class="not_full_width my-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 max-w-5xl">
    {{ printf "%s" .NextInSection}}
    {{ with .NextInSection }}
    {{ partial "card" .}}
    {{ end }}
    {{ with .PrevInSection }}
    {{ partial "card" .}}
    <div hx-get="{{ .RelPermalink }}" hx-trigger="revealed" hx-target="#content" hx-swap="beforeend"
        hx-select="#content-area" hx-push-url="true">
    </div>
    {{ end }}
</div>
</div>
{{ end }}