{{ define "main" }}
<div class="not_full_width min-h-screen mt-28 mb-12">
    {{ .Content }}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{ $filteredPages := slice }}
        {{ range .Site.Taxonomies.blogs }}
            {{ if .Page.Params.order }}
            {{ $filteredPages = $filteredPages | append .Page }}
            {{ end }}
        {{ end }}
    
        {{ range sort $filteredPages "Page.Params.order" "asc" }}
            {{ partial "card" .}}
        {{ end }}
        </div>
    </div>
{{ end }}