<header class="font-sans">
    <div class="menu_shadow">
        <div class="not_full_width">
        <div class="py-6 flex justify-end">
            {{ partial "nav/service.html" . }}
        </div>
        <div class="flex items-center justify-between">
            <a href="/" class="logo">
            {{ partial "logo.html" . }}
            </a>
        </div>
        <div class="flex items-center justify-between flex-wrap">
            {{ partial "nav/main.html" . }}
            <button class="hidden" id="mobile-menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
            </button>
        </div>
      </div>
    </div>
    
    <div class="hidden" id="mobile-menu">
      {{ partial "nav/mobile.html" . }}
    </div>
    
    <!-- Subnavigation if on blog page -->
    {{ if or (eq .Section "blogs") (eq .Section "posts") }}
        <div class="menu_shadow py-3">
            <div class="not_full_width">
            {{ partial "nav/blogs.html" . }}
          </div>
    </div>
    {{ end }}
  </header>